.header {
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  //background-color: $border-grey;
  border-bottom: 1px solid $border-grey;
  color: $dark-brown;
  position:relative;
  .header_right {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    .menu_item {
      display: flex;
      align-items: center;
      margin-left: 20px;
      cursor: pointer;
    }
    .btn {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  .header_search {
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}