
.search.input_box {
  width: 25em;
  height: 2.5em;
  display: flex;
  align-items: center;
  background-color: $white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $light-grey;

  //&.focus {
  //  width: 25em;
  //  transition: all 200ms ease-in;
  //  border: 1px solid $brownish-grey;
  //}
  .search_form {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 13px;
    line-height: 19.5px;
    color: gray;
    padding-left: 10px;
    &::placeholder {
      color: gray;
    }

  }
  .search_icon {
    width: 16px;
    height: 16px;
  }
  .delete_icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
    position:absolute;
    right: 10px;
  }
}
